body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

header {
  background-color: #404040;
  padding: 1rem;
}

header a {
  color: #ffffff;
  font-weight: bold;
  text-decoration: none;
}

.products {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 1px;
  row-gap: 40px;
  margin-left: 50px;
  margin-right: 50px;
}

.product {
  border: 1px #404040 solid;
  margin: 1rem;
}

@media only screen and (min-width: 601px) and (max-width: 1800px) {
  .product img {
    width: 100%; /* Adjust as needed for medium-sized screens */
    max-width: 300px; /* Adjust the max-width as needed */
  }
}

/* Default styles for screens wider than 1600px */
.product img {
  width: 100%; /* Default width for larger screens */
  max-width: 400px; /* Default max-width */
}

.product-info {
  padding: 1rem;
}
